<!-- footer section -->
<footer class="section-p1">
    <h1>Sweet Cake</h1>
    <div class="col">
        <h4>Contact</h4>
        <p><strong>E-mail : </strong>chittranuch.satt@bumail.net</p>
        <p><strong>Phone : </strong>0971245837</p>
        <p><strong>Hours : </strong> 10:00 - 18:00, Mon - Sat</p>
    </div>

    <div class="col">
        <h4>My Account</h4>
        <a href="#">Sign In</a>
        <a href="#">View Cart</a>
        <a href="#">My Wishlist</a>
        <a href="#">Track My Order</a>

    </div>

    <div class="col">
        <h4>Follow Us</h4>
        <a href="https://www.facebook.com/wasin.saibuaha.18"><i class=" fab fa-facebook "></i> Sweet Cake</a>
        <a href="https://www.instagram.com/iliilliliillizeillliililliili/"><i class="fab fa-instagram "></i> Sweet Cake</a>
        <a href="https://www.facebook.com/CIa763"><i class="fab fa-youtube "></i> Sweet Cake</a>
        <a href="https://www.facebook.com/CIa763"><i class="fab fa-twitter "></i> Sweet Cake</a>
    </div>

    <div class="copyright ">
        <p><strong>© Sweet Cake 2022. All rights reserved</strong></p>
    </div>
    <script src="/js/script.js"></script>
    <script src="/js/detail.js"></script>
    <script src="/js/common.js"></script>
    <script src="/js/form.js"></script>
</footer>
</body>
</html>