<%- include("partials/header") %>
    <!-- navbar section -->
    <section id="header">
        <a href="/" id="logo">Sweet Cake</a>
        <div>
            <ul id="navbar">
                <li><a href="/">Home</a></li>
                <li class="dropdown"><strong> Menu</strong>
                    <div class="dropdown-content">
                        <a href="/cake">cake</a>
                        <a href="/cupcake">cupcake</a>
                        <a href="/topping">topping</a>

                    </div>
                </li>
                <li><a href="/">About</a></li>
                <li id="lg-bag"><a href="/cart"><i class="fas fa-cart-arrow-down"></i></a></li>
                <li class="dropdown"><i class="fas fa-user"></i>
                    <div class="dropdown-content">
                        <a href="/manage">manage</a>
                        <a href="/add-product">add product</a>
                        <!--                     <a href="/log in">Log In</a>
                    <a href="/Sign Up">Sign Up</a> -->
                        <a href="/add-product">Log in</a>
                    </div>
                </li>
            </ul>
        </div>
        <div id="mobile">
            <a href="cart.html"><i class="fas fa-cart-arrow-down"></i></a>
            <i id="bar" class="fas fa-bars cus-icon fa-fw py-1"></i>
        </div>
    </section>


    <div class="container">
        <div class="row">
            <div class="col-lg-2"></div>
            <div class="col-lg-8">
                <div class="card mt-4">
                    <img class="card-img-top img-fluid" src="https://cdn.shopify.com/s/files/1/0015/1185/0042/products/Double_Rainbow_Cake_4_600x.jpg?v=1592606057" alt="" />
                    <div class="card-body">
                        <h1 align="center"><b>ขออภัย!</b>เข้าสู่ระบบไม่สำเร็จ!</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </body>

    </html>