<%- include("partials/header") %>

    <div class="loader" alt=""></div>
    <form class="form-horizontal" method="POST" action="/login">
        <section class="form-section">
            <div class="form-container">
                <div class="form">
                    <h1 class="form-heading">Log in here</h1>
                    <input type="text" placeholder="Username" name="username">
                    <input type="password" placeholder="password" name="password">
                    <button type="submit" class="submit-btn">log in</button>

                </div>
            </div>
        </section>
    </form>
    <%- include("partials/footer") %>

        </html>