#header {
    width: 100%;
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 40px;
    background-color: #fff;
    box-shadow: 0 5px 15px red;
}

#logo {
    background: linear-gradient(to top, #ff0844 0%, #ffb199 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    display: flex;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
    font-size: 3.5rem;
    font-weight: 900;
    font-family: 'Dancing Script', cursive;
}

#navbar {
    display: flex;
    align-items: center;
    justify-content: center;
}

#navbar li {
    list-style: none;
    padding: 0 20px;
    position: relative;
    margin-right: 50px;
}

#navbar li a {
    text-decoration: none;
    font-size: 20px;
    font-weight: 600;
    color: #1a1a1a;
    transition: 0.3s ease;
}

#navbar li a:hover,
#navbar li a.active {
    opacity: 2;
    color: #ff8177;
}

#navbar li a.active ::after,
#navbar li a:hover::after {
    content: "";
    width: 45%;
    height: 2px;
    background: #ff8177;
    position: absolute;
    bottom: -16px;
    left: 20px;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 10px 16px;
    text-decoration: none;
    display: block;
    font-size: 10px;
}

.dropdown:hover .dropdown-content {
    display: block;
}

#mobile {
    display: none;
    align-items: center;
}

#close {
    display: none;
}