/* product section */

#product1 {
    text-align: center;
}

#product1 .pro-container {
    justify-content: space-between;
    flex-wrap: wrap;
    display: inline-table;
    width: 23%;
}

#product1 .pro {
    width: 23%;
    min-width: 250px;
    padding: 10px 12px;
    border: 1px solid #ffb199;
    border-radius: 25px;
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.02);
    margin: 15px 0;
    transition: 0.3s ease-in;
    position: relative;
    /*  float: right; */
}

#product1 .pro:hover {
    box-shadow: 20px 20px 30px rgb(250, 117, 117);
    transform: scale(1.01);
    transition: 0.3s ease-in;
    cursor: pointer;
}

#product1 .pro img {
    width: 100%;
    padding: 2%;
    border-radius: 20px;
}

#product1 .pro .des {
    text-align: start;
    padding: 1px;
}

#product1 .pro .des span {
    font-weight: 900;
    color: #606063;
    font-size: 14px;
}

#product1 .pro .des h5 {
    font-weight: 900;
    padding-top: 3px;
    color: #1a1a1a;
    font-size: 22px;
}


/* star & comment*/

#product1 .pro .des i {
    font-size: 12px;
    color: rgb(243, 181, 25);
}

#product1 .pro .des h4 {
    padding-top: 4px;
    font-size: 22px;
    font-weight: 700;
    color: #ff8177;
}

#product1 .pro .cart {
    padding-top: 10px;
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 50px;
    background: #ffd6da;
    font-weight: 500;
    border: 1px solid #ffb199;
    position: absolute;
    bottom: 0.5cm;
    right: 10px;
}